<form th:action="@{/web/proveedores/guardar}" th:object="${proveedor}" method="post">
    
    <div class="modal-body">
        
        <input type="hidden" th:field="*{id}">

        <div class="mb-3">
            <label class="form-label fw-bold">Nombre / Razón Social</label>
            <input type="text" class="form-control" th:field="*{razonSocial}" required placeholder="Ej: Reciclajes del Sur SAC">
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label fw-bold">RUC / DNI</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
                    <input type="text" class="form-control" th:field="*{documento}" required maxlength="15" placeholder="Documento">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label fw-bold">Teléfono</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
                    <input type="text" class="form-control" th:field="*{telefono}" maxlength="15" placeholder="999...">
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Correo Electrónico</label>
            <input type="email" class="form-control" th:field="*{email}" placeholder="contacto@empresa.com">
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Dirección</label>
            <textarea class="form-control" th:field="*{direccion}" rows="2" placeholder="Av. Principal 123..."></textarea>
        </div>

        <div class="mb-3 form-check form-switch p-3 bg-light border rounded" th:if="${proveedor.id != null}">
            <input class="form-check-input ms-0 me-2" type="checkbox" role="switch" id="checkActivo" th:field="*{activo}">
            <label class="form-check-label" for="checkActivo">
                <span class="badge bg-success" th:if="${proveedor.activo}">Proveedor Activo</span>
                <span class="badge bg-secondary" th:unless="${proveedor.activo}">Proveedor Inactivo</span>
                <br>
                <small class="text-muted" style="font-size: 0.75rem;">(Desmarcar para dar de baja, Marcar para reactivar)</small>
            </label>
        </div>
        
        <input type="hidden" th:if="${proveedor.id == null}" name="activo" value="true">

    </div>

    <div class="modal-footer bg-light">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success">
            <i class="fa-solid fa-save"></i> Guardar Proveedor
        </button>
    </div>

</form>